@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-slate-100 antialiased;
  }
}

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer utilities {
  .text-outline-red {
    -webkit-text-stroke: 2px rgba(239, 68, 68, 0.7);
    color: transparent;
  }

  .stroke-text-red {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
    color: transparent;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}